<ion-header>
    <ion-toolbar>
      <ion-title>
        Details
      </ion-title>
      <ion-buttons start>
        <button ion-button (click)="dismiss()">
          <span ion-text color="primary" showWhen="ios">Cancel</span>
          <ion-icon name="md-close" showWhen="android,windows"></ion-icon>
        </button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
    <ion-item class="device-info">
        <ion-icon name="ios-desktop" item-start></ion-icon>
        <h2>{{device.piID}}</h2>
        <p>{{device.location}}</p>
        <p>{{tv.name}}</p>
    </ion-item>
    <ion-list>
        <ion-list-header>
                Channels
        </ion-list-header>
        <ion-item *ngFor="let channel of channels">
        {{channel.channelName}}
        <ion-note item-end>
            {{channel.channelId}}
        </ion-note>
        </ion-item>
        <ion-item *ngIf="channels.length === 0">
            No Channels Configured
        </ion-item>
        <ion-item (click)="OpenAddChannelForm()">
            <ion-icon name="add" item-start></ion-icon>
            <h2>Add a channel</h2>
        </ion-item>
    </ion-list>
  </ion-content>